/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* custom Emoji picker styles*/
.emojibox {
    display: inline-block;
    position: relative;
    float: left;
}

.btnemoji {
    width: auto;
    height: auto;
    float: right;
    border: none;
    background: none;
    outline: none;
}

.emoji-list {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: hidden;
    /*overflow: auto;*/
    border: 1px solid #ddd;
    z-index: 1;
}

    .emoji-list li {
        float: left;
        font-size: 16px;
        margin: 0 10px 0 10px;
        cursor: pointer;
    }
